.icon-btn::before {
    content: attr(data-copy);

    visibility: hidden;
    font-size: .75rem;
    color: #757575;
    min-width: 5rem;
    max-width: 15rem;

    border: none;
    border-radius: 8px;  
    background: #fff;

    display: inline-block;
    padding: .2rem .4rem;
    text-align: center;

    position: absolute;
    top: -40px;
    left: -10px ;

    box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.icon-btn:hover::before {
    visibility: visible !important;
}